[[source]] # Here goes your package sources (where you are downloading your packages from).
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages] # Here goes your package requirements for running the application and its versions (which packages you will use when running the application).
Flask = "*"
Flask-JSGlue = "*"
Flask-Session = "*"
gunicorn = "19.*"
heatmap = "2.*"
Jinja2 = "2.*"
matplotlib = "2.*"
Pillow = "4.*"
pygame = "1.*"
sql = "0.4.*"
SQLAlchemy = "1.1.*"
Werkzeug = "0.12.*"

[dev-packages] # Here goes your package requirements for developing the application and its versions (which packaes you will use when developing the application)

[requires] # Here goes your required Python version.
python_version = "2.7"
