{% extends "layout.html" %}

{% block title %}
    Team Info
{% endblock %}

{% block main %}
  <script>
      var d = document.getElementById("info_nav");
      d.className += " active";
  </script>

  <h1 align="center">Team Info</h1>

  <div>
    <table class="table table-striped">
      <thead>
        <th scope="col">Volleymetrics Number</th>
        <th scope="col">Team Name</th>
        <th scope="col">League</th>
      </thead>
      <tbody>
          {% for row in rows %}
          <tr>
              <td>{{ row.id }}</td>
              <td>{{ row.teamname }}</td>
              <td>{{ row.league }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>

{% endblock %}
