body, html { margin: 0; padding: 0; }



p { font: 1em Arial, Geneva, Helvetica, sans-serif; }



h1 { font: bold 2em "Times New Roman", Times, serif; }



h2 { font: bold 1.5em "Times New Roman", Times, serif; }



h3 { font: bold 1.2em Arial, Geneva, Helvetica, sans-serif; }
