{% extends "layout.html" %}

{% block title %}
    HeatMap
{% endblock %}

{% block main %}
<div>
  <img src="images/output.bmp" alt="Image messed up1">
  <img src="/templates/images/cat.jpeg" alt="Image messed up2">
  <img src="templates/images/cat.jpeg" alt="Image messed up3">
  <img src="/templates/cat.jpeg" alt="Image messed up4">
  <img src="/images/cat.jpeg" alt="Image messed up5">
  <img src="images/cat.jpeg" alt="Image messed up6">
  <img src="/cat.jpeg" alt="Image messed up7">
</div>
{% endblock %}
