{% extends "layout.html" %}

{% block title %}
    HeatMap
{% endblock %}

{% block main %}

    <!-- <script src="{{ url_for('static', filename='scripts.js') }}"></script> -->

    <div>
      <h1 align="center">Create HeatMap</h1>
    </div>

    <br>

    <div class="container">
      <form action="{{ url_for('heatmap') }}" data-toggle="validator" id="heatmap" method="post">

          <fieldset class="form-group">
            <div class="row">
              <div class="col-sm-2"><b>Data to Use</b></div>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="datafiles" id="uploads" value="uploads" checked>
                  <label class="form-check-label" for="uploads">
                    Uploaded Files
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="datafiles" id="ivy" value="ivy2017">
                  <label class="form-check-label" for="ivy">
                    Ivy League 2017 Data
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-group row">
              <label for="teamname" class="col-sm-2 col-form-label">Team Number</label>
              <div class="col-sm-10">
                <input class="form-control" name="teamname" id="teamname" placeholder="Team Number (Find in 'Team Info')" required type="number"/>
              </div>
          </div>

          <div class="form-group row">
              <label for="player" class="col-sm-2 col-form-label">Player Number</label>
              <div class="col-sm-10">
                <input class="form-control" name="player" id="player" placeholder="Player Number" required type="number"/>
              </div>
          </div>

          <div class="form-group row">
              <label for="attacks" class="col-sm-2 col-form-label">Attack Combo(s)</label>
              <div class="col-sm-10">
                <input class="form-control" placeholder="Attack Combo(s)" name="attacks" id="attacks" required type="text"/>
              </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-2"><b>Only Show Kills</b></div>
            <div class="checkbox col-sm-10">
                <label><input type="checkbox" value="True" name="kills" id="kills">Only Kills</label>
            </div>
          </div>

          <br>

          <div class="form-group row">
              <button class="btn btn-default" type="submit">Create HeatMap</button>
          </div>
      </form>
    </div>

    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" id="modal_title"></h4>
                    </div>
                    <div class="modal-body" id="modalbody">
                        <p id="modal_text"></p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
