{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div>
      <h1 align="center">Set New Password</h1>
    </div>

    <br>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <form action="{{ url_for('password') }}" data-toggle="validator" id="change" method="post">
            <div class="form-group">
              <input class="form-control" name="old" id="old" placeholder="Current Password" required type="password"/>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <input class="form-control" data-minlength="8" name="new" id="password" placeholder="New Password" required type="password"/>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <input class="form-control" data-match="#password" data-match-error="passwords don't match" placeholder="Confirmation" name="confirmation" id="confirmation" required type="password"/>
              <div class="help-block with-errors"></div>
            </div>
            </br>
            <div class="form-group text-center">
              <button class="btn btn-danger" type="submit">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
